@model IEnumerable<Proyectotransmilenio.Models.TIPOS_PARADEROS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado Tipos de Paradero</h2>

<p>
    @Html.ActionLink("Crear Nuevo Tipo de Paradero", "Create")
</p>
<table id="tabla" style="width:100%" class="table table-striped">
    <thead>
        <tr>
            <th>
                TIPO PARADERO
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPO_PARADERO)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID_TIPO_PAR }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.ID_TIPO_PAR }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_TIPO_PAR })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#tabla').DataTable({
            responsive: true
        });
    });
</script>