@{
    ViewBag.Title = "Pagina de Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-4">
            <h2>TIPO BUS</h2>
            <p>CRUD implementado para esta tabla</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "TIPOS_BUSES")">Lista Tipos de Buses &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>TIPO RUTA</h2>
            <p>CRUD implementado para esta tabla</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "TIPOS_RUTAS")">Lista Tipos de Rutas &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>TIPO PARADERO</h2>
            <p>CRUD implementado para esta tabla</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "TIPOS_PARADEROS")">Lista Tipos de Paraderos &raquo;</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>BUSES</h2>
            <p>CRUD implementado para esta tabla</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Buses")">Lista Buses &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>PARADEROS</h2>
            <p>CRUD implementado para esta tabla</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "PARADEROes")">Lista Paraderos &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>RUTAS</h2>
            <p>CRUD implementado para esta tabla</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "RUTAs")">Lista Rutas &raquo;</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>VIAS</h2>
            <p>CRUD implementado para esta tabla</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "VIAs")">Lista Vías &raquo;</a></p>
        </div>
    </div>
