
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Reportes BD</h2>
    </div>
    <div class="panel-body">
        <p>Información obtenida desde la base de datos de la aplicación</p>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa  fa-road fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="rutas"></div>
                                <div>Rutas implementadas</div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "RUTAs")">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Listado de rutas</span>
                            <span class="pull-right"><i class="fa fa-share-square-o"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-car fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="buses"></div>
                                <div>Buses</div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "Buses")">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Listado de Buses</span>
                            <span class="pull-right"><i class="fa fa-share-square-o"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa  fa-list-ol  fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="tipobus"></div>
                                <div>Tipos de buses</div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "TIPOS_BUSES")">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Listado Tipos de Buses</span>
                            <span class="pull-right"><i class="fa fa-share-square-o"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-sitemap fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="paraderos"></div>
                                <div>Paraderos</div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "PARADEROes")">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Listado Paraderos</span>
                            <span class="pull-right"><i class="fa-share-square-o"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div> 
<script>
    var url = '@Url.Action("ObtenerNumeroInformacion","Home")';
    var Users;
    debugger
    $.ajax({
        url: url,
        type: 'get',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: false,
        success: function (data) {
            document.getElementById('rutas').innerText = data.ruta;
            debugger
            document.getElementById('buses').innerText = data.bus;
            document.getElementById('tipobus').innerText = data.paradero;
            document.getElementById('paraderos').innerText = data.tipobus;
        }
    });
</script>