@model List<TesGestionProyectos.Models.CarritoNEC>
@{
    ViewBag.Title = "Carro de compras NEC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">CARRO DE COMPRAS NEC</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-table fa-fw"></i> Información de los equipos cargados en TESGEStion WEB mediante carro de compras NEC
                </div>
                <div class="panel-body">
                    @if (@TempData.ContainsKey("Mensaje"))
                    {
                        <Script>
                        alert('@(TempData["Mensaje"])');
                        </Script>
                    }
                    <table id="tablaEquipos" style="width:100%" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <strong>@Html.Label("Line Description")</strong>
                                </th>
                                <th>
                                    <strong>@Html.Label("Line")</strong>
                                </th>
                                <th>
                                    <strong>@Html.Label("V/U sin IVA")</strong>
                                </th>
                                <th>
                                    <strong>@Html.Label("PLU")</strong>
                                </th>
                                <th>
                                    <strong>@Html.Label("Contrato")</strong>
                                </th>
                                <th>
                                    <strong>@Html.Label("Seleccionar")</strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() != 0)
                            {
                                foreach (TesGestionProyectos.Models.CarritoNEC item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LineDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Line)
                                        </td>
                                        <td>
                                           @String.Format("{0:C}", item.ValorUnitarioSinIVA)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.plu)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Contrato)
                                        </td>
                                        <td>
                                            @{if (!item.IdEstacion.HasValue)
                                                {
                                                    @Html.CheckBoxFor(modelItem => item.Seleccionado, new { id = item.Id })
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">
                                        <p>No se enconto información del carro de compras NEC.</p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <button id="cargarCarroComprasNEC" class="btn btn-primary" style=""><i class="fa fa-plus-circle" aria-hidden="true"></i> cargar carrito de compras NEC</button>
                    <button id="AsignarEnlacesNEC" class="btn btn-primary" style=""><i class="fa fa-plus-circle" aria-hidden="true"></i> Asignar Enlaces NEC</button>
                    <div class="pull-right">
                        <a href="@Url.Action("Index", "PO")"> siguiente <i class="fa fa-step-forward" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div id='myModalContent' class="panel panel-primary" style="margin-top:20px;margin-left:20px;margin-right:20px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        PoNotification();
        $('#tablaEquipos').DataTable({
            responsive: true
        });
    });
    function PoNotification() {
        var success = '@TempData["MensajePOSuccess"]';
        var error = '@TempData["MensajePOError"]';

        if (success) {
            alertify.success(success);
        }
        if (error) {
            alertify.error(error);
        }
    }
    $(document).ready(function () {
        $("#AsignarEnlacesNEC").click(function () {
            var table = document.getElementById('tablaProyectos');
            var seleccion = [];
            $('input[type=checkbox]:checked',table).each(function () {
                seleccion.push($(this).attr('id'));
            });
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: '@Url.Action("AsignarEnlaceNEC", "Enlaces")',
                data: { "seleccion": seleccion.toString() },
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Error ");
                }
            });
            $("#btnCerrarModal").click(function () {
                $('#myModal').modal('hide');
            });
            $("#btnAsignar").click(function () {
                $('#myModal').modal('hide');
            });
        });
    });
    $(document).ready(function () {
        $("#cargarCarroComprasNEC").click(function () {
            $.get('/TesGestionProyectos/Equipos/cargarCarroComprasNEC', function (data) {
                $('#myModalContent').html(data);
                $('#myModal').modal({});
            });
            $("#btnCerrarModal").click(function () {
                $('#myModal').modal('hide');
            });
        });
    });
    function cargarArchivoNEC() {
        empezarWaitDialog("Cargando Archivo en TESGEStion WEB......Por favor espere");
        document.getElementById("formulario").submit();
    }
</script>