@model IEnumerable<Proyectotransmilenio.Models.VIA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Vias</h2>

<p>
    @Html.ActionLink("Crear Nueva Vía", "Create")
</p>
<table id="tabla" style="width:100%" class="table table-striped">
    <thead>
        <tr>
            <th>
                NOMBRE VÍA
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE_VIA)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID_VIA }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.ID_VIA }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_VIA })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#tabla').DataTable({
            responsive: true
        });
    });
</script>