<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <style>
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('../Content/Images/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
            opacity: .8;
        }
    </style>
    @Styles.Render("~/template/css")
    @Scripts.Render("~/template/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/FlujoProyecto.css" rel="stylesheet" />
    
</head >
<body >
    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://www.sitp.gov.co/ ">SITP oficial</a>               
            </div>
            <ul class="navbar-top-links navbar-right">
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
            </ul>
        </div>
        <div class="navbar-inverse sidebar" role="navigation" style="margin-top: 0">
            <div class="bs-vertical-wizard sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            Inicio<i class="ico fa fa-wordpress" ></i> 
                            <span class="desc">Esta opción lo dirige a la pagina principal</span>
                        </a>
                    </li>
                    <li class="complete">
                        <a href="@Url.Action("Reportes", "Home")">
                            Reportes<i class="ico fa fa-bar-chart-o"></i>
                            <span class="desc">Esta opción entrega reportes graficos de los datos en la Base de Datos</span>
                        </a>
                    </li>

                    <li class="complete">
                        <a href="@Url.Action("GenerarDatos", "Home")">
                            Generar<i class="ico fa fa-cloud-download"></i>
                            <span class="desc">Esta opción permite generar datos aleatorios en la Base de Datos</span>
                        </a>
                    </li>

                    <li class="complete">
                        <a href="@Url.Action("Laicon", "CargarDatos")">
                            Cargar<i class="ico fa fa-cloud-upload"></i>
                            <span class="desc">Esta opción permite cargar datos en la Base de Datos</span>
                        </a>
                    </li>

                    <li class="complete">
                        <a href="@Url.Action("IndexCRUD", "Home")">
                            CRUD<i class="ico fa fa-cogs"></i>
                            <span class="desc">Esta opción permite realizar las operaciones CRUD sobre las tablas de la Base de Datos</span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Index", "Buses")">BUS</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Index", "TIPOS_BUSES")>TIPO BUS</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "RUTAs")">RUTAS</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Index", "TIPOS_RUTAS")>TIPO RUTAS</a>
                            </li> 
                            <li>
                                <a href="@Url.Action("Index", "PARADEROes")">PARADEROS</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Index", "TIPOS_PARADEROS")>TIPO PARADERO</a>
                            </li> 
                            <li>
                                <a href=@Url.Action("Index", "VIAs")>VIAS</a>
                            </li>                               
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li class="complete">
                        <a href="@Url.Action("WS", "Home")">
                            WS<i class="ico fa-upload  "></i>
                            <span class="desc">Esta opción permite cargar datos de una Base de Datos a otra Base de Datos</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <div id="page-wrapper">
            <div class="loader">
                <div style="float:left; height:50%; width:100%; margin-bottom:-50px"></div>
                <p id="textoCargaInicial" style="color:red; text-align:center;clear:both;">Iniciando Transmilenio......Por favor espere</p>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Proyecto TRANSMILENIO en ASP.NET</p>
                </footer>
            </div>
        </div>
    </div>
        <script>
            $(document).ready(function () {
                $(".loader").fadeOut(3000);
            });
            $(document).on({
                ajaxStart: empezarWaitDialog("Procesando petición en TRANSMILENIO......Por favor espere"),
                ajaxStop: terminarWaitDialog()
            });
            function empezarWaitDialog(mensajeDesplegar) {
                if (mensajeDesplegar) {
                    document.getElementById('textoCargaInicial').innerText = mensajeDesplegar;
                }
                $(".loader").fadeIn("fast");
            }
            function terminarWaitDialog() {
                $(".loader").fadeOut(3000);
                document.getElementById('textoCargaInicial').innerText = "Cargando TRANSMILENIO......Por favor espere";
            }
        </script>
</body>
</html>
