@model Proyectotransmilenio.Models.PARADERO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar este paradero?</h3>
<div>
    <h4>PARADERO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            NOMBRE PARADERO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_PARADERO)
        </dd>

        <dt>
            UBICACIÓN PARADERO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UBICACION_PARADERO)
        </dd>

        <dt>
            POSICIÓN VÍA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSICION_VIA)
        </dd>

        <dt>
            TIPO PARADERO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPOS_PARADEROS.TIPO_PARADERO)
        </dd>

        <dt>
            NOMBRE VIA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIA.NOMBRE_VIA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
