@model Proyectotransmilenio.Models.PARADERO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>PARADERO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            NOMBRE PARADERO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_PARADERO)
        </dd>

        <dt>
            UBICACIÓN PARADERO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UBICACION_PARADERO)
        </dd>

        <dt>
            POSICIÓN VÍA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSICION_VIA)
        </dd>

        <dt>
            TIPO PARADERO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPOS_PARADEROS.TIPO_PARADERO)
        </dd>

        <dt>
            NOMBRE VÍA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIA.NOMBRE_VIA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_PARADERO }) |
    @Html.ActionLink("Regresar", "Index")
</p>
