@model IEnumerable<Proyectotransmilenio.Models.Bus>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MARCA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODELO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONDUTOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COLOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPOS_BUSES.TIPO_BUS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MARCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODELO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONDUTOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COLOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPOS_BUSES.TIPO_BUS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_BUS }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_BUS }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_BUS })
        </td>
    </tr>
}

</table>
