@model IEnumerable<Proyectotransmilenio.Models.Bus>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Buses</h2>

<p>
    @Html.ActionLink("Crear Bus", "Create")
</p>
<table id="tabla" style="width:100%" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MARCA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MODELO)
            </th>
            <th>
                CONDUCTOR
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COLOR)
            </th>
            <th>
                TIPO BUS
            </th>
            <th>ACCIÓN</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MARCA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MODELO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CONDUTOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COLOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPOS_BUSES.TIPO_BUS)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID_BUS }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.ID_BUS }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_BUS })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#tabla').DataTable({
            responsive: true
        });
    });
</script>