@model IEnumerable<Proyectotransmilenio.Models.RUTA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Rutas</h2>

<p>
    @Html.ActionLink("Crear Nueva Ruta", "Create")
</p>
<table id="tabla" style="width:100%" class="table table-striped">
    <thead>
        <tr>
            <th>
                NOMBRE RUTA
            </th>
            <th>
                BUS MARCA
            </th>
            <th>
                TIPO RUTA
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE_RUTA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bus.MARCA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPOS_RUTAS.TIPO_RUTA)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID_RUTA }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.ID_RUTA }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_RUTA })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#tabla').DataTable({
            responsive: true
        });
    });
</script>
